<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>问题反馈</title>
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css" />
<link href="__PUBLIC__/css/styles.css" rel="stylesheet">
<style type="text/css">
textarea{height: 100px;width:200px;}
input{float:right;}
</style>
</head>
<include file="Common/head"/>
 <div class="mainContent">
 <diV style="margin-left:400px;margin-top:200px;margin-bottom:200px;width:200px"><form action="{:U('Index/bugfind')}" method="post"><textarea name="content"></textarea><input type="submit" value="提交"></diV>
 </div>
<body>
</body>
</html>